---
import styles from './YearGroup.module.css';
import PostCard from './PostCard.astro';
import type { CollectionEntry } from 'astro:content';
import { getLang, t } from '../i18n/utils';

interface Props {
  year: number;
  posts: CollectionEntry<'posts'>[];
  open?: boolean;
}

const { year, posts, open = false } = Astro.props;
const strings = t(getLang(Astro.url));
---

<details class={styles.group} open={open}>
  <summary class={styles.summary}>
    <span class={styles.year}>{year}</span>
    <span class={styles.count}>{posts.length} {strings.postList.postsSuffix}</span>
  </summary>
  <ul class={styles.list}>
    {posts.map((post) => (
      <li><PostCard post={post} /></li>
    ))}
  </ul>
</details>
